<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Usage</title>
</head>

<body>
	<header>
		<div class="container ">
			<div class="row">
				<div class="col-xs-9 col-sm-9 col-md-9">
					<ul class="nav ">
						<li class="nav-item">
							<a class="nav-link active" href="#">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">USO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">GITHUB</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3">
					<a href="">
						<img src="../assets/images/cardify-icon.svg" class="icon" alt="icon">
					</a>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
        <span>¿Que Archivos se deben usar?</span>

			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<span>¿Como se debe linkear?</span>
	
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<span>¿Como se debe llamar en el js?</span>
	
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<span>Estructura</span>
	
			</div>
		</div>
	</section>
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<p>Cardify</p>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>