<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Usage</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="../assets/images/cardify-icon.svg" width="30" height="30" class="d-inline-block align-top" alt="icon">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
			 aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="../index.html">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Uso</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<button class="btn btn-outline-dark my-2 my-sm-0 btn-sm">
						<i class="fab fa-github"></i> Github</button>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 target">
						<div>
							<h3>¿Que Archivos se deben usar?</h3>
							<div>
								Los Archivos que hay que tener en cuentas son:
								<pre class="text-center"><code>jquery.cardify.css</code></pre>
								<pre class="text-center"><code>jquery.cardify.js</code></pre>
							</div>
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 target">			
							<h3>¿Como se debe linkear?</h3>
							<div>
								Para compilar en el CSS
								<pre>
									<code>
										rel="stylesheet" href="css/jquery.cardify.css"
									</code>
								</pre> 								
								Para compilar el JS
								<pre>
									<code>  
										src="js/jquery.cardify.js""
									</code>
								</pre>
							</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 target">
						<div>
							<h3>¿Como se debe llamar en el js?</h3>
							<pre>
								<code>
									$(document).ready(function(){ $('.example-container').cardify();});
								</code>
							</pre>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<h3 class="text-center">Estructura</h3>
						<div>
							<p> A traves de una funcion cardify llamaremos a nuestro plugin <br> 
								  example-container es el selector del contenedor
							</p>
							<pre>
								<code>
									<img src="../assets/images/code1.png" alt="code1">						
								</code>
							</pre>
							<p> Al llamar la funcion cardify automaticamente empieza a ejecutar el siguiente codigo </p>
							<pre class="language-javascript">
								<code>
									<img src="../assets/images/code.png" alt="code">						
								</code>
							</pre>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer-bg pt-4 mt-4">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 text-center">
					<p>© 2018Cardify</p>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>