*{
margin:0;
padding: 0;
box-sizing: border-box;
}
#icon{
 width: 35px;
 height: 45px;
 margin-top: 5%;
 margin-left: 5%;
}
header {
 background-color: #deceec;
 height: 80px;
}
footer{
 background-color: #deceec;
 height: 150px;
}
