*{
margin:0;
padding: 0;
box-sizing: border-box;
}
#icon{
 width: 35px;
 height: 45px;
 margin-top: 5%;
 margin-left: 5%;
}
header {
 background-color: #deceec;
 height: 80px;
}
footer{
 background-color: #deceec;
 height: 150px;
}

pre {
    border: 1px solid rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    color: rgb(15, 13, 13);
    font-size: 14px;
    padding: 5px 8px;
    margin: 0 0 20px;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    line-height: 24px;
    background-color: rgba(223, 223, 76, 0.03);
    font-weight: 100;
}
.target{
    text-align: justify; 
    font-family: 'Bungee', cursive;
    height: 300px; 
     box-shadow : #D8DAD5 5px 5px, rgb(209, 52, 162) -5px -5px, rgb(240, 175, 215) -5px 5px 30px 10px;
    margin: 3%;
}