*{
  font-family: 'Nunito', sans-serif;
}

pre {
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  color: rgb(15, 13, 13);
  font-size: 14px;
  padding: 5px 8px;
  margin: 0 0 20px;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  line-height: 24px;
  background-color: rgba(223, 223, 76, 0.03);
  font-weight: 100;
}

.hero{
  background-color: #EF7B45;
  color: #fff;
  padding: 30px 0;
}

.target{
  text-align: justify; 
  font-family: 'Nunito', sans-serif;
  border: 1px solid rgb(4, 42, 43);
  box-shadow : rgb(4, 42, 43) 5px 5px,  rgb(253, 253, 253) -5px -5px, rgba(17, 145, 196, 0.507) -5px 5px 20px 10px;   
  margin: 3%;
  height: 250px; 
  
}

.second-title {
  color: #042A2B;
}

.footer-bg {
  background-color: #34D1BF;
  color: #fff;
}
.structure{
  margin-top: 5%;
  text-align: justify; 
  font-family: 'Nunito', sans-serif;
  border: 1px solid #EF7B45;
  box-shadow : #EF7B45 5px 5px,  rgb(253, 253, 253) -5px -5px, rgb(216, 71, 39) -5px 5px 20px 10px;    
  margin: 1%  ; 
}